@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  outline: 0;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar,
::-webkit-scrollbar-horizontal,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-horizontal,
::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb-horizontal,
::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb-horizontal {
  border-radius: 6px;
  width: 0.6rem;
  background: transparent;
}

::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb-horizontal {
  background: rgb(55, 65, 81);
}
